@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/aplayer/dist/APlayer.min.css";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

.bi-filter-left {
    font-size: 40px;
    font-weight: bold;
}

.aplayer.aplayer-fixed {
    width: 100% !important;
    max-width: 100%;
    display: flex;
    justify-content: end;
}

.aplayer.aplayer-fixed .aplayer-body {
    width: 100%;
    max-width: 100%;
}

.aplayer-list {
    width: 80%;
}

.side-nav {
    z-index: 100;
}